# encoding: utf-8


# ~~~~~~~~~~~~~~~ MAKE COPY OF FILE AND CHANGE NAME TO "config.py" ~~~~~~~~~~~~~~~~~~~~~~~

SECRET_KEY='a unique and long key'
TITLE='Riki' 
HISTORY_SHOW_MAX=30
PIC_BASE = '/static/content/'
CONTENT_DIR = "/Users/alexa/Desktop/Riki/tests/content"      #put your path to content folder here
USER_DIR = "/Users/alexa/Desktop/Riki/tests/user"            #put your path to user folder here
NUMBER_OF_HISTORY = 5
PRIVATE = True