{% extends "base.html" %}

{% block title %}
	{{ page.title }}
{% endblock title %}

{% block content %}
	{% if page.images is defined %}
		{% for image in page.images.split(',') %}
			<img width="400" src="{{ image }}">
		{% endfor %}
	{% endif %}
	{% if page.videos is defined %}
		{% for video in page.videos.split(',') %}
			<video width="320" height="240" controls>
			  <source src="{{ video }}" type="video/mp4">
			Your browser does not support the video tag.
			</video>
		{% endfor %}
	{% endif %}
  <div id="confirmDelete" class="modal hide fade" aria-hidden="true">
    <div class="modal-header">
      <h3>Are you sure?</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete {{ page.title }}?  This cannot be undone.</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">No</a>
      <a href="{{ url_for('wiki.delete', url=page.url) }}" class="btn btn-danger">Yes, delete.</a>
    </div>
  </div>
	<div style="padding-top: 50px; padding-bottom: 10px;">
	{{ page }}
	</div>
	<h4 style="padding-top: 10px; padding-bottom: 10px">Documents:</h4>
		{% if page.documents is defined %}
			{% for document in page.documents.split(',') %}
				{% set sections = document.split('/')  %}
					<a href="{{ document }}" target="_blank">{{ sections[5] }}</a>
			{% endfor %}
		{% endif %}
	<h4 style="padding-top: 10px; padding-bottom: 10px">References:</h4>
{% endblock content %}

{% block sidebar %}
{% if page.tags %}
<h3>Tags</h3>
  <ul>
      {% for tag in page.tags.split(',') %}
        <li><a href="{{ url_for('wiki.tag', name=tag.strip()) }}">{{ tag|trim }}</a></li>
      {% endfor %}
  </ul>
{% endif %}
<h3>Actions</h3>
<ul class="nav nav-tabs nav-stacked">
	<li><a href="{{ url_for('wiki.edit', url=page.url) }}">Edit</a></li>
  <li><a href="{{ url_for('wiki.move', url=page.url) }}">Move</a></li>
  <li><a href="#confirmDelete" data-toggle="modal" class="text-error">Delete</a></li>
</ul>
{% endblock sidebar %}
